.App {
  text-align: center;
  padding-top: 3rem;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  padding: 0.5rem 1rem;
}
.table div {
  margin: 0.5rem;
}

.totalAmount {
  display: flex;

}

.totalAmount p {
  margin: auto;
}


